{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/custom.css") }}">


{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
     <div class="col-md-12">
            <center>
                <h3 class="top_heading">CorrectMe Application</h3>
            </center>
     </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <h3>Auto Suggestion</h3>



<textarea id="autocomplete" type="text" class="vc_textarea"></textarea>
<textarea id="msg_input" type="text" name="comments" placeholder="Write your message" class="vc_textarea"></textarea>




        </div>
                   <div class="col-md-6">
                       <h3>Auto Correction</h3>
<div id="auto_correct" contenteditable="true" data-placeholder="Write your message" class="test"></div>
            </div>

    </div>
</div>

{% endblock %}

{% block other_footers %}

<script src="{{ url_for('static', filename="js/custom.js") }}"></script>

{% endblock %}